html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h2{
  font-weight: 700;
}
h4{
  font-weight: 400;
}
/*Start*/
body{
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;;
}
main{
  display: grid;
  grid-template-columns: auto;
    width:85%;
    margin:10vh auto;
    font-size:16px;
}
[class^="card"]{
  padding:6vh 4vh;  
}
[class^="card"] h2{
   margin-bottom:4vh;
   font-size:1.3rem;
}

[class^="card"] h4{
    margin-bottom:3.5vh;
 }
[class$="-1"]{
    background-color: hsl(180, 100%, 96%);
}
[class$="-1"] p{
  color:hsl(218, 22%, 67%);
    line-height:1.5;
}
[class$="-2"]{
  background-color: hsl(179, 62%, 43%);
}
[class$="-3"]{
  background-color: hsl(179, 54%, 54%);
}
.button{
  text-align: center;
  padding:3vh 0;
  background-color:hsl(71, 73%, 54%) ;
  border-radius:5px;
  color:hsl(204, 43%, 93%);
  margin-top: 8vh;
}
span{
  position: relative;
  top:1vh;
  color:hsl(204, 43%, 93%);
  right:1vh;
  font-size:2rem;
}
pre{
 line-height:1.3;
 color:hsl(179, 2%, 81%);
}
.first{
  color:hsl(179, 54%, 54%);
  font-weight: 100;
}
.second{
  color:hsl(204, 43%, 93%);
  font-weight: 100;
}
[class$="-2"] h2,[class$="-3"] h2{
  color:hsl(204, 43%, 93%);
}
[class$="-1"] h2{
    color:hsl(179, 62%, 43%);
}
[class$="-1"] h4{
    color:hsl(71, 73%, 54%);
}


@media screen and (min-width:1024px){
  main{
    grid-template-columns: 50% 50%;
    width:50%;
  }
  .card-1{
    grid-column:1/span 2;
  }
  .card-1 p{
    width:90%;
  }
  .card-2{
    grid-column:1/2;
  }
  .card-3{
    grid-column:2/3;
  }
  
   [class^="card"]{
     padding:6vh 7vh;  
   }
}
